<template>
	<div class="hello">
		<h1> Dashboard {{nama}} </h1>
	</div>
</template>

<script>
	export default {
		name: 'Dashboard',
		props: {
			msg: String
		},
		data(){
			return {
				nama: 'heri afit'
			}
		},
		mounted(){

		}
	}
</script>