<template>
	<div class="hello">
		<h1> Page 3 {{nama}} </h1>
	</div>
</template>

<script>
	export default {
		name: 'Page 3',
		props: {
			msg: String
		},
		data(){
			return {
				nama: 'halaman 3'
			}
		},
		mounted(){
			
		}
	}
</script>