<template>
  <div id="app">
    ini header
    <router-link :to="{path: '/dashboard'}"> Page 1 </router-link> | 
    <router-link :to="{path: '/page2'}"> Page 2 </router-link> |
    <router-link :to="{path: '/page3'}"> Page 3 </router-link> | 
    <router-link :to="{path: '/page4'}"> Page 4 </router-link> |
     <router-link :to="{path: '/page5'}"> Page 5 </router-link> |
    <hr>
    <router-view/>
    <hr>
    ini footer
  </div>
</template>

<script>

export default {
  name: 'app'
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
